mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)

mixin breadcrumb(link, name, type)
	li
		a(class="breadcrumb__link " +type href="" +link target="_self")=name

mixin cat-type(id, link, image, name)
	li(id=id).catalog__item
		a(href="" +link target="_self").catalog__link
			img(src="static/images/content/" +image + '.png' alt="" +name).catalog__image
			b.catalog__name=name

mixin features-item(icon, title, text)
	li.features__item
		span(class="features__icon " +icon)
		h3.features__name=title
		p.features__description=text

mixin ship-item(image, title, date)
	li.shipment__item
		a(href="#" target="_self").shipment__link
			img(src="static/images/content/" +image + '.jpg' alt="" +title).shipment__image
			b.shipment__title=title
			time(datetime="14-07-2020").shipment__date=date

mixin aside-link(title, ...items)
	li.aside__item
		h3.aside__name=title
			.aside__controls
				each link in items
					a(href="#" target="_self").aside__link=link

mixin types-item(id, link, image, name)
	li(id=id).types-list__item
		a(href="" +link target="_self").types-list__link
			img(src="static/images/content/" +image + '.png' alt="" +name).types-list__image
			b.types-list__name=name

mixin goods-item(id, link, image, sign, name, sku, price)
	li(id=id).goods-list__item
		span.goods-list__sign=sign
		a(href="" +link target="_self").goods-list__link
			img(src="static/images/content/" +image + '.png' alt="" +name).goods-list__image
			h3.goods-list__name=name
			span.goods-list__sku=sku
			b.goods-list__price=price

mixin pagination(...items)
	ul.pagination__list
		each i in items
			li.pagination__item
				a(href="#" target="_self").pagination__link=i
		
