mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)

mixin breadcrumb(link, name, type)
	li
		a(class="breadcrumb__link " +type href="" +link target="_self")=name

mixin cat-type(id, link, image, name)
	li(id=id).catalog__item
		a(href="" +link target="_self").catalog__link
			img(src="static/images/content/" +image + '.jpg' alt="" +name).catalog__image
			b.catalog__name=name

mixin features-item(icon, title, text)
	li.features__item
		span(class="features__icon " +icon)
		h3.features__name=title
		p.features__description=text

mixin ship-item(image, title, date)
	li.shipment__item
		a(href="#" target="_self").shipment__link
			img(src="static/images/content/" +image + '.jpg' alt="" +title).shipment__image
			b.shipment__title=title
			time(datetime="14-07-2020").shipment__date=date

mixin aside-link(title, ...items)
	li.aside__item
		h3.aside__name=title
		.aside__controls
			each link in items
				a(href="#" target="_self").aside__link=link

mixin types-item(id, link, image, name)
	li(id=id).types-list__item
		a(href="" +link target="_self").types-list__link
			img(src="static/images/content/" +image + '.jpg' alt="" +name).types-list__image
			b.types-list__name=name

mixin sort-item(data, type)
	li(data-index="" +data).filter__sort-item=type

mixin goods-item(id, link, image, sign, name, sku, price)
	li(id=id).goods-list__item
		span.goods-list__sign=sign
		a(href="" +link target="_self").goods-list__link
			img(src="static/images/content/" +image + '.jpg' alt="" +name).goods-list__image
			h3.goods-list__name=name
			span.goods-list__sku=sku
			b.goods-list__price=price

mixin pagination(...items)
	ul.pagination__list
		each i in items
			li.pagination__item
				a(href="#" target="_self").pagination__link=i
		
mixin cart-item(image, name, info, quantity, price)
	li.cart-1__item
		.cart-1__item-details
			img(src="static/images/content/" +image + '.jpg' alt="" +name).cart-1__item-img
			.cart-1__item-info
				h3.cart-1__item-name=name
				span.cart-1__item-specs=info
		.cart-1__item-bottom
			.cart-1__item-quantity
				button(type="button").minus
				input(type="number" id="quantity-1" name="quantity-1" min="" +quantity value="1").cart-1__item-input
				span(type="button").plus
			span.cart-1__item-price=price
			span.cart-1__item-sum=price
			button(type="button").cart-1__item-remove


mixin cart-order(image, name, size, info, quantity)
	li.order__item
		.order__item-details
			img(src="static/images/content/" +image + '.jpg' alt="" +name).order__item-img
			.order__item-info
				h3.order__item-name=name
				.order__item-description
					span.order__item-sizes=size
					span.order__item-specs=info
			span.order__item-quantity=quantity
			

mixin address(payment, paymentType, address, addressDetails, deliveryType, deliveryCompany)
	ul.address__list
		li.address__item
			b.address__title._payment=payment
			span.address__subtitle._payment=paymentType
		li.address__item
			b.address__title._address=address
			span.address__subtitle._address=addressDetails
		li.address__item
			b.address__title._delivery=deliveryType
			span.address__subtitle._delivery=deliveryCompany
